.profile-list {
  list-style-type: none;
  max-width: 500px;
  margin: auto;
}

.profile-display {
  max-width: 800px;
  margin: auto;
}

.profile-card {
  background-color: #494AFF;
  color: white;
}